<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_CHARSET" value="${file.encoding:-UTF-8}"/>

	<property name="LOG_DATEFORMAT_PATTERN" value="HH:mm:ss.SSS"/>

	<property name="CONSOLE_LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN}} %-5p [%-6t] %-42.42logger{41} : %m%n"/>

	<property name="CONSOLE_LOG_THRESHOLD" value="DEBUG"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${CONSOLE_LOG_THRESHOLD}</level>
		</filter>
		<encoder>
			<charset>${LOG_CHARSET}</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="jkml.downloader" level="DEBUG"/>

	<logger name="org.apache.hc.client5.http.headers" level="OFF"/>

	<logger name="org.apache.hc.client5.http.wire" level="OFF"/>

</configuration>
