<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DATEFORMAT_PATTERN" value="yyyy-MM-dd HH:mm:ss.SSS" />

	<property name="LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN}} %-5p [%-6t] %-42.42logger{41} : %m%n" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="org" level="INFO" />

	<logger name="org.apache.hc.client5.http.headers" level="OFF" />

	<logger name="org.apache.hc.client5.http.wire" level="OFF" />

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
